{% extends '::base.html.twig' %}

{% block body %}
	<div class="col-md-12">
		<h1 class="article-tlt"> Kaamelott, les films vont enfin arriver</h1>
	</div>
	<div class="col-md-12">
		<div class="col-md-8">
			<img src="{{ asset('img/date.jpg') }}" alt="kaaradoc" class="article-img">
			<p class="art-desc">Il y a un mois, Alexandre Astier faisait un révélation que les fans de Kaamelott attendaient depuis longtemps : l'annonce du grand retour de la saga... au cinéma ! On en sait à présent un peu plus sur ses intentions et la façon dont ses projets se déclineront.</p>

			<p class="art-desc">On se demandait en effet si Kaamelott allait également revenir en série télé, ou uniquement au cinéma. Et s'il s'agirait d'une trilogie comme Alexandre Astier l'avait évoqué. A nos confrères de MetroNews, le comédien, scénariste et réalisateur a répondu à une bonne partie de ces interrogations.</p>

			<p class="art-desc">"La fin de la saga, dans mon esprit a toujours été une trilogie de films. Mais il y a une période que je veux raconter qui s’appelle "Kaamelott Résistance", qui parle du moment où Arthur n’est pas en Bretagne et Lancelot est au pouvoir et où les personnages qu’on connaît sont partagés entre résistance et collaboration. Je me suis demandé si je devais retourner à la télévision pour la raconter. Et puis j’ai décidé que non. Parce que je ne pense pas qu'on puisse faire un grand un retour en télé, puis un autre grand retour au cinéma. (...) Je ne pense pas écrire le même film aujourd’hui que si je l’avais écrit il y a 6 ou 7 ans, poursuit-il. Ça va suivre ce que j’ai envie d’y voir maintenant, les acteurs avec lesquels j’ai envie de jouer, la couleur que j’ai envie d’y mettre. Elle aurait peut-être été plus sombre à l’époque, en sortant direct de la série. Mais maintenant que je ne suis plus dans le même état d'esprit, j’aurais peut-être plus envie de déconner."</p>

			<p class="art-desc">Selon TéléLoisirs, le tournage de Kaamelott pour le cinéma pourrait commencer dès l'année prochaine, visant une sortie en 2017.</p>
		</div>

		<div class="col-md-4">
			<div class="col-md-12">
				<h3 class="other-art"> Nos Autres Articles </h3>
			</div>
			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-10 encart-link">
					<div class="col-md-12 link-art-img">
						<img src="{{ asset('img/grumeau.png') }}" alt="grumeau" class="link-art-img">
					</div>
					<div class="col-md-12 title-link">
						<h4><a href="#"> Link to another article</a></h4>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>

			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-10 encart-link">
					<div class="col-md-12 link-div-img">
						<img src="{{ asset('img/pignouf.jpg') }}" alt="pignouf" class="link-art-img">
					</div>
					<div class="col-md-12 title-link">
						<h4><a href="#"> Link to another article</a></h4>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>

			<div class="col-md-12">
				<div class="col-md-1"></div>
				<div class="col-md-10 encart-link">
					<div class="col-md-12 link-art-img">
						<img src="{{ asset('img/puceau.jpg') }}" alt="puceau" class="link-art-img">
					</div>
					<div class="col-md-12 title-link">
						<h4><a href="#"> Link to another article</a></h4>
					</div>
				</div>
				<div class="col-md-1"></div>
			</div>

		</div>
	</div>
{% endblock %}